@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
a{
    text-decoration: none;
}
header{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(./imagenes/1050842_39708.gif);
    width: 100%;
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
body{
    background-color: crimson;
    background-image: url(./imagenes/1050842_39708.gif);
}
header ul li{
    list-style: none;
    margin: 10px;
    color: rgb(89, 152, 235);
    font-size: 34px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nuevoxd{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nuevoxd p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
}
.nuevoxd img{
    width: 470px;
    height: auto;
}
.header video{
    display: flex;
    align-items: center;
    width: 180px;
    height: auto;
    margin: 10px;
}
#mine{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1000px;
}
#mine p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
}
@media screen and (max-width:1200px){
    header{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        height: auto;
    }
    header ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
    body{
        background-color: crimson;
        background-image: url(./imagenes/1050842_39708.gif);
    }
    header ul li{
        list-style: none;
        color: rgb(89, 152, 235);
        font-size: 34px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .header video{
        display: flex;
        align-items: center;
        width: 180px;
        height: auto;
    }
    .nuevoxd{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nuevoxd p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .nuevoxd img{
        display: flex;
        flex-direction: column;
        align-items: auto;
        width: 430px;
        height: auto;
    }
    .nuevoxd video{
        display: flex;
        align-items: center;
        width: 580px;
        height: auto;
        margin: 10px;
    }
    #mine{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    #mine p{
        display: flex;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 50px;
    }
}
